// Styles for Hemmingway - namespaced, so we
// won't mess up your app's stylesheets


// Namespaced font-awesome
@font-face {
  font-family: 'FontAwesomeHemmingway';
  src: url("/assets/font-awesome/fontawesome-webfont.eot");
  src: url("/assets/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/font-awesome/fontawesome-webfont.woff") format("woff"), url("/assets/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("/assets/font-awesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

#hemmingway {
  // font-awesome core, using our namespaced font
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesomeHemmingway; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // from bootstrap/_normalize html {}
  -webkit-tap-highlight-color: transparent;

  // from bootstrap/_normalize body {}
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;

  @import "font-awesome/variables";
  @import "font-awesome/mixins";
  @import "font-awesome/larger";
  @import "font-awesome/fixed-width";
  @import "font-awesome/list";
  @import "font-awesome/bordered-pulled";
  @import "font-awesome/spinning";
  @import "font-awesome/rotated-flipped";
  @import "font-awesome/stacked";
  @import "font-awesome/icons";

  // Core variables and mixins
  @import "bootstrap/variables";
  @import "bootstrap/mixins";

  // Reset and dependencies
  @import "bootstrap/normalize";

  // Core CSS
  @import "bootstrap/scaffolding";
  @import "bootstrap/type";
  @import "bootstrap/code";
  @import "bootstrap/grid";
  @import "bootstrap/tables";
  @import "bootstrap/forms";
  @import "bootstrap/buttons";

  // Components
  @import "bootstrap/component-animations";
  @import "bootstrap/dropdowns";
  @import "bootstrap/button-groups";
  @import "bootstrap/input-groups";
  @import "bootstrap/navs";
  @import "bootstrap/navbar";
  @import "bootstrap/breadcrumbs";
  @import "bootstrap/pagination";
  @import "bootstrap/pager";
  @import "bootstrap/labels";
  @import "bootstrap/badges";
  @import "bootstrap/jumbotron";
  @import "bootstrap/thumbnails";
  @import "bootstrap/alerts";
  @import "bootstrap/progress-bars";
  @import "bootstrap/media";
  @import "bootstrap/list-group";
  @import "bootstrap/panels";
  @import "bootstrap/wells";
  @import "bootstrap/close";

  // Components w/ JavaScript
  @import "bootstrap/modals";
  @import "bootstrap/tooltip";
  @import "bootstrap/popovers";
  @import "bootstrap/carousel";

  // // Utility classes
  @import "bootstrap/utilities";
  
  @import 'summernote';
  
  @import 'codemirror';
  @import 'codemirror/themes/solarized';

}
