// Styles for Hemmingway - namespaced, so we
// won't mess up your app's stylesheets

#hemmingway {
  h1 { margin-bottom: 2rem; }

  .pull-left { float: left; }
  .pull-right { float: right; }
  
  .text-left { text-align: left; }
  .text-right { text-align: right; }

  table {
    tr { margin: 1.5rem 0 1.5rem 0; }
  }

  form ~ .action-links {
    position: relative;
    top: -2rem;
    text-align: right;
    float: right;
  }

  .row {
    margin-bottom: 2rem;
    overflow: hidden;
    .col-md-6 {
      input[type="text"] {
        display: inline;
      }
      float: left;
      width: 50%;
    }
  }

  .btn {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    margin-right: 2rem;
    
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    font-family: inherit;
  }

  .btn-success, .btn-danger, .btn-info {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .btn-info {
    background: rgb(66, 184, 221);
  }

  .btn-danger {
    background: rgb(202, 60, 60);
  }

  .btn-success {
    background: rgb(28, 184, 65);
  }

  a {
    .cke_button: { height: 22px; }
  }

}
