<!DOCTYPE html>
<html>
<head>
  <title>Hemmingway</title>
  <%= stylesheet_link_tag    "hemmingway/application", media: "all" %>
  
  <%= javascript_include_tag "hemmingway/application" %>
  <%= csrf_meta_tags %>
</head>
<body id="hemmingway">

<div class="container">
  <div class="col-md-12">
    <%= yield %>
  </div>
</div>

</body>
</html>
