<%= render layout: 'container' do %>
  <h1>Editing page</h1>

  <%= render 'form' %>

  <div class="action-links">
    <%= link_to 'Show', parent_page_path(@page.to_param) %>
    |
    <%= link_to 'Back', hemmingway_pages_path %>
  </div>
<% end %>