<%= render layout: 'container' do %>
  <h1>Editing page</h1>

  <%= render 'form' %>

  <div class="pull-right">
    <%= link_to 'Show', @page %>
    <%= link_to 'Back', pages_path %>
  </div>
<% end %>