<% if @is_admin %>
  
    <%= form_for @page, url: parent_page_path(@page.to_param), html: {method: 'patch'} do |f| %>
      <%= f.text_area :html, data: { hw_editor: 'inline', hw_styles: styles_hw_pages_path(format: 'json') } %>
      <div id="hemmingway">
        <%= render partial: 'actions' %>
      </div>
    <% end %>
  
<% else %>
  <%= @page.html.html_safe %>
<% end %>

